/* Estilos personalizados */
body {
  padding-top: 60px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}

/* Estilos personalizados para el color del formulario */
.form-color-black {
  color: #000;
  background-color: #f8f9fa;
}

.form-color-silver {
  color: #fff;
  background-color: #6c757d;
}

.form-color-blue {
  color: #fff;
  background-color: #007bff;
}
